@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

.heading {
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}
.mainCnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;  
}